
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var viewPetList = (List<PetStoreWebClient.EF.Pet>)ViewBag.viewPet;
    var viewPetFoodList = (List<PetStoreWebClient.EF.PetFood>)ViewBag.viewPetFood;
    var viewPetToyList = (List<PetStoreWebClient.EF.PetToys>)ViewBag.viewPetToy;
    var viewPetSaleOffList = (List<PetStoreWebClient.EF.Pet>)ViewBag.viewPetSaleOff;
}
@section search{
    <div class="search_box">
        <form>
            <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
        </form>
    </div>
}
@section slide{
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                <ul>
                    <h3>Products</h3>
                    <li>@Html.ActionLink("Pet", "Index", "Home")</li>
                    <li><a href="/petfood/list">Pet's foods</a></li>
                    <li><a href="#">Pet's accessories</a></li>
                    <li><a href="#">Pet's Toys</a></li>
                    <li><a href="#">Pet's Medicine</a></li>
                </ul>
            </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    <div id="mover">
                        @foreach (var item in viewPetSaleOffList)
                        {
                            var url = "/detail/pet/" + item.p_id;
                            double disRate = 100 - ((item.p_salePrice * 100) / item.p_prices);
                            int disPrice = item.p_prices - item.p_salePrice;
                            <div id="slide-1" class="slide">
                                <div class="slider-img">
                                    <a href="@url"><img class="slide-image-pet" src="~/Assets/images/@item.p_image" alt="learn more" /></a>
                                </div>
                                <div class="slider-text">
                                    <h1>@item.p_name<br><span>SALE</span></h1>
                                    <h2>UPTo @disRate% OFF</h2>
                                    <div class="features_list">
                                        <h4>@item.p_salePrice.ToString("N0")đ (-@disPrice.ToString("N0")đ)</h4>
                                    </div>
                                    <a href="/add-to-cart?productID=@item.p_id&Quantity=1" class="btn btn-danger">Buy Now</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
}
<div class="content">
    <div class="content_top">
        <div class="heading">
            <h3>New Pets</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in viewPetList)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="#"><img class="guest-image" src="~/Assets/images/@item.p_image" alt="" /></a>
                <h2>@item.p_name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@item.p_salePrice.ToString("N0")đ</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/add-to-cart?productID=@item.p_id&Quantity=1">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        }
    </div>
    <div class="content_bottom">
        <div class="heading">
            <h3>New Pet's Food</h3>
        </div>
        <div class="see">
            <p><a href="/petfood/list">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in viewPetFoodList)
        {
            var url = "/detail/petfood/" + item.pf_id;
            <div class="grid_1_of_4 images_1_of_4">
                <a href="@url"><img class="guest-image" src="~/Assets/images/@item.pf_image" alt="" /></a>
                <h2>@item.pf_name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@item.pf_salePrice.Value.ToString("N0")đ</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/add-to-cart?productID=@item.pf_id&Quantity=1">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>

    <div class="content_bottom">
        <div class="heading">
            <h3>New Pet's Toys</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in viewPetToyList)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="#"><img class="guest-image" src="~/Assets/images/@item.pt_image" alt="" /></a>
                <h2>@item.pt_name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@item.pt_salePrice.Value.ToString("N0")đ</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="/add-to-cart?productID=@item.pt_id&Quantity=1">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>

    <div class="content_bottom">
        <div class="heading">
            <h3>New Pet's Medicines</h3>
        </div>
        <div class="see">
            <p><a href="#">See all Products</a></p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="section group">
        @foreach (var item in viewPetToyList)
        {
            <div class="grid_1_of_4 images_1_of_4">
                <a href="#"><img class="guest-image" src="~/Assets/images/@item.pt_image" alt="" /></a>
                <h2>@item.pt_name</h2>
                <div class="price-details">
                    <div class="price-number">
                        <p><span class="rupees">@(item.pt_salePrice)đ</span></p>
                    </div>
                    <div class="add-cart">
                        <h4><a href="#">Add to Cart</a></h4>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
    </div>

</div>


